body {
  font-family: 'Roboto', sans-serif;
}
.login-page {
  background-color: lightgray;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.login-box {
  background-color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  margin-top: 1.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.password-container {
  display: flex;
  position: relative;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.eye-icon {
  font-size: 1.2rem;
}

.login-button {
  padding: 0.5rem 1rem;
  background-color: rgba(84, 209, 250, 1);;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.login-button:hover {
  background-color: #00BFFF;
}

.error {
  color: red;
}

.signup-container {
  margin-top: 2rem;
  text-align: center;
}

.signup-link {
  color: black;
  font-weight: bold;
}

.signup-link:hover {
  color: rgba(84, 209, 250, 1);;
}
